<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="MiConexion" connectionString="server=localhost:3306, database=store; user id=root; password = 123456" />-->
		<add name="MiConexion" connectionString="Server=localhost;Uid=root;Database=store;Port=3306;" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
</configuration>